/* main site web styles */
/* common colors used in site */
/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50v0u0k9Shw69zO7Qp6hBcWG9b8 */
/* Feel free to copy&paste color codes to your application */
/* MIXINS */
/* As hex codes */
/* line 28, ../scss/style.scss */
body {
  font-family: "Sorts Mill Goudy", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 160%;
}

/* line 34, ../scss/style.scss */
li, p, td, dd, dt {
  font-size: 120%;
}

/* line 38, ../scss/style.scss */
h4 {
  font-size: 140%;
  font-weight: 700;
  font-family: 'Puritan', sans-serif;
  font-weight: bold;
  color: #590200;
}

/* line 46, ../scss/style.scss */
header {
  background-color: #590200;
}

/* line 50, ../scss/style.scss */
header.navbar-head {
  margin-bottom: 0px;
  background-image: url(../images/train-back.jpg);
  background-repeat: no-repeat;
  min-height: 300px;
}

/* line 57, ../scss/style.scss */
.site_head {
  margin-top: 150px;
}

/* line 60, ../scss/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
/* line 62, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  background-color: #67302E;
  color: #fff;
}

/* line 68, ../scss/style.scss */
.navbar-default .navbar-brand {
  color: #fff;
  border-right: 2px solid #67302E;
}
/* line 71, ../scss/style.scss */
.navbar-default .navbar-brand:hover {
  background-color: #67302E;
  color: #fff;
}

/* line 79, ../scss/style.scss */
h1.site_title {
  font-family: 'Puritan', sans-serif;
  color: #590200;
}

/* line 84, ../scss/style.scss */
.navbar-default {
  background-color: #590200;
  border: 1px solid #67302E;
}

/* line 89, ../scss/style.scss */
div.right-sidebar {
  background-color: #b5c393;
  padding: 1em 1em;
}

/* line 94, ../scss/style.scss */
div.slider {
  width: auto;
  max-width: 900px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* line 102, ../scss/style.scss */
.slick-slide {
  position: relative;
}

/* line 106, ../scss/style.scss */
.caption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  min-height: 38px;
  background-color: rgba(89, 60, 0, 0.85);
  color: #ffefce;
}

/* line 117, ../scss/style.scss */
.slick-prev:before, .slick-next:before {
  color: #590200;
}

/* line 121, ../scss/style.scss */
#main-body {
  background-color: #fff;
}

/* line 125, ../scss/style.scss */
footer {
  background-color: #b5c393;
  padding: 1em;
}

/* line 130, ../scss/style.scss */
div.gallery {
  background-color: #FFE5CE;
}

/* line 134, ../scss/style.scss */
.center-blocks {
  margin-left: auto;
  margin-right: auto;
}

/* line 139, ../scss/style.scss */
.centered-text {
  text-align: center;
}

/* line 143, ../scss/style.scss */
section {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 148, ../scss/style.scss */
dt {
  font-weight: bold;
  font-family: 'Puritan', sans-serif;
  color: #67492E;
}

/* line 154, ../scss/style.scss */
.cutline {
  font-family: 'Puritan', sans-serif;
  margin-top: 1em;
  text-align: center;
}

/* line 160, ../scss/style.scss */
.pcaption {
  width: 100%;
  padding: 15px;
  min-height: 38px;
  background-color: rgba(89, 60, 0, 0.85);
  color: #ffefce;
}

/* line 169, ../scss/style.scss */
.well img {
  display: block;
  margin: auto;
}

/* line 173, ../scss/style.scss */
div.pic-rows .row {
  padding: 1em 0;
}

@media (min-width: 768px) {
  /* line 3, ../scss/_min_768.scss */
  .nav li > a {
    font-size: .9em;
    border-right: 1px solid #fff;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 992px) {
  /* line 3, ../scss/_min_992.scss */
  .nav li > a {
    font-size: 1em;
    border-right: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  /* line 3, ../scss/_min_1200.scss */
  .nav li > a {
    font-size: 1.25em;
    border-right: 2px solid #67302E;
    padding-left: 15px;
    padding-right: 15px;
  }
}
