{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Lodi Harrisville Historical society history
{% endblock %}
{% block addedcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/lightbox/css/lightbox.css' %}"/>
{% endblock %}
{% block content %}
    <section>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Businesses</h1>
        <h2>Some are no longer there and have been replaced.</h2>
            <p>Click for a larger view.</p>
        </div>
    </div>
        <div class="pic-rows">
           <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/business/Gortners_Pharmacy.jpg' %}" data-lightbox="img-bus" data-title="Gortner's Pharmacy">
                    <img src="{%  static 'images/business/Gortners_Pharmacy_sm.jpg' %}" alt="gortners pharmacy" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Andy-Bauders-Racket-Store113-Wooster-1927.jpg' %}" data-lightbox="img-bus" data-title="Andy Bauder's Racket Store">
                      <img src="{%  static 'images/business/Andy-Bauders-Racket-Store113-Wooster-1927_sm.jpg' %}" alt="Andy Bauder's Racket Store" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Bennader.jpg' %}" data-lightbox="img-bus" data-title="Bennader">
                      <img src="{%  static 'images/business/Bennader_sm.jpg' %}" alt="gortners pharmacy" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Bentons-Store.jpg' %}" data-lightbox="img-bus" data-title="Benton's Store">
                      <img src="{%  static 'images/business/Bentons-Store_sm.jpg' %}" alt="Benton's Store" class="img-responsive" />
                  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/business/ChapmanBarberShop-1961.jpg' %}" data-lightbox="img-bus" data-title="Chapman's Barber Shop 1961">
                    <img src="{%  static 'images/business/ChapmanBarberShop-1961_sm.jpg' %}" alt="Chapman's Barber Shop 1961" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Gault-Service-Station.jpg' %}" data-lightbox="img-bus" data-title="Gault Service Station">
                      <img src="{%  static 'images/business/Gault-Service-Station_sm.jpg' %}" alt="Gault Service Station" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Ed-Bartholomai-Hardware.jpg' %}" data-lightbox="img-bus" data-title="Ed Bartholomai Hardware">
                      <img src="{%  static 'images/business/Ed-Bartholomai-Hardware_sm.jpg' %}" alt="Ed Bartholomai Hardware" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Fetzers-Variety-Store.jpg' %}" data-lightbox="img-bus" data-title="Fetzer's Variety Store">
                      <img src="{%  static 'images/business/Fetzers-Variety-Store_sm.jpg' %}" alt="Fetzer's Variety Store" class="img-responsive" />
                  </a>
            </div>
        </div>
    <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/business/Hardware-1986.jpg' %}" data-lightbox="img-bus" data-title="Hardware Store">
                    <img src="{%  static 'images/business/Hardware-1986_sm.jpg' %}" alt="Chapman's Barber Shop 1961" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Parker-&-Sons-Funeral-Home.jpg' %}" data-lightbox="img-bus" data-title="Parker and Sons Funeral Home">
                      <img src="{%  static 'images/business/Parker-&-Sons-Funeral-Home_sm.jpg' %}" alt="Parker and Sons Funeral Home" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Piatt&Son-GE-Appliance-Store.jpg' %}" data-lightbox="img-bus" data-title="Piatt and Sons GE Appliance Store">
                      <img src="{%  static 'images/business/Piatt&Son-GE-Appliance-Store_sm.jpg' %}" alt="Piatt and Sons GE Appliance Store" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Scotts-IGA-Foods2.jpg' %}" data-lightbox="img-bus" data-title="Scott's IGA">
                      <img src="{%  static 'images/business/Scotts-IGA-Foods2.jpg' %}" alt="Scott's IGA" class="img-responsive" />
                  </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/business/Sommer-Chevrolet.jpg' %}" data-lightbox="img-bus" data-title="Sommer's Auto Sales">
                    <img src="{%  static 'images/business/Sommer-Chevrolet_sm.jpg' %}" alt="Sommer's Automotive Sales" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Stores-1881.jpg' %}" data-lightbox="img-bus" data-title="Stores 1881">
                      <img src="{%  static 'images/business/Stores-1881_sm.jpg' %}" alt="Stores 1881" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Triple-O-1961.jpg' %}" data-lightbox="img-bus" data-title="Triple O Service Station">
                      <img src="{%  static 'images/business/Triple-O-1961_sm.jpg' %}" alt="Triple O Service Station" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Underwoods-Grocery-Store.jpg' %}" data-lightbox="img-bus" data-title="Underwood's Grocery Store">
                      <img src="{%  static 'images/business/Underwoods-Grocery-Store_300.jpg' %}" alt="Underwood's Grocery Store" class="img-responsive" />
                  </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/business/United-Dairy.jpg' %}" data-lightbox="img-bus" data-title="United Dairy">
                    <img src="{%  static 'images/business/United-Dairy_sm.jpg' %}" alt="United Dairy" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Weitzel-&-Sons.jpg' %}" data-lightbox="img-bus" data-title="Weitzel and Sons">
                      <img src="{%  static 'images/business/Weitzel-&-Sons_sm.jpg' %}" alt="Weitzel and Sons" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/business/Western-Auto-Store.jpg' %}" data-lightbox="img-bus" data-title="Western Auto Store on the Square">
                      <img src="{%  static 'images/business/Western-Auto-Store_sm.jpg' %}" alt="Triple O Service Station" class="img-responsive" />
                  </a>
            </div>
            <div class="col-sm-3">
{#                 <a href="{% static 'images/business/Underwoods-Grocery-Store.jpg' %}" data-lightbox="img-bus" data-title="Underwood's Grocery Store">#}
{#                      <img src="{%  static 'images/business/Underwoods-Grocery-Store_300.jpg' %}" alt="Underwood's Grocery Store" class="img-responsive" />#}
{#                  </a>                                      #}
            </div>
        </div>

        </div>

        </div>
    </section>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bower_components/lightbox/js/lightbox.min.js' %}"></script>
{% endblock %}