{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Lodi Harrisville Historical society history
{% endblock %}
{% block addedcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/lightbox/css/lightbox.css' %}"/>
{% endblock %}
{% block content %}
    <section>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Railroad history</h1>
        <p>Lodi has the B&O and the CSX. An old depot still stands that boarded passengers. Bridges were built in the mid 1800's that continue to be used to this day.</p>
            <p>Click for a larger view.</p>
        </div>
    </div>
        <div class="pic-rows">
           <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-002.jpg' %}" data-lightbox="img-rail" data-title="B&O looking west">
                    <img src="{%  static 'images/railroad/lodihistory-002_sm.jpg' %}" alt="railroad " class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-003.jpg' %}" data-lightbox="img-rail" data-title="B&O Railroad">
                    <img src="{%  static 'images/railroad/lodihistory-003_sm.jpg' %}" alt="railroad " class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-004.jpg' %}" data-lightbox="img-rail" data-title="Sink Hole">
                    <img src="{%  static 'images/railroad/lodihistory-004_sm.jpg' %}" alt="railroad " class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-005.jpg' %}" data-lightbox="img-rail" data-title="Engineers">
                    <img src="{%  static 'images/railroad/lodihistory-005_sm.jpg' %}" alt="railroad " class="img-responsive" />
                </a>
            </div>
               </div>

               <div class="row">
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-006.jpg'' %}" data-lightbox="img-rail" data-title="Steam Engine">
                    <img src="{%  static 'images/railroad/lodihistory-006_sm.jpg' %}" alt="railroad " class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-007.jpg' %}" data-lightbox="img-rail" data-title="Train wreck">
                    <img src="{%  static 'images/railroad/lodihistory-007_sm.jpg' %}" alt="railroad" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-008.jpg' %}" data-lightbox="img-rail" data-title="Steam shovel">
                    <img src="{%  static 'images/railroad/lodihistory-008_sm.jpg' %}" alt="Steam shovel" class="img-responsive" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% static 'images/railroad/lodihistory-009.jpg' %}" data-lightbox="img-rail" data-title="Depot">
                    <img src="{%  static 'images/railroad/lodihistory-009_sm.jpg' %}" alt="Depot" class="img-responsive" />
                </a>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-010.jpg' %}" data-lightbox="img-rail" data-title="Hose engine">
                    <img src="{%  static 'images/railroad/lodihistory-010_sm.jpg' %}" alt="Hose engine" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-011.jpg' %}" data-lightbox="img-rail" data-title="workers">
                    <img src="{%  static 'images/railroad/lodihistory-011_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-012.jpg' %}" data-lightbox="img-rail" data-title="Observers">
                    <img src="{%  static 'images/railroad/lodihistory-012_sm.jpg' %}" alt="Observers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-013.jpg' %}" data-lightbox="img-rail" data-title="Observers">
                    <img src="{%  static 'images/railroad/lodihistory-013_sm.jpg' %}" alt="Observers" class="img-responsive" />
                </a>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-014.jpg' %}" data-lightbox="img-rail" data-title="Crossover">
                    <img src="{%  static 'images/railroad/lodihistory-014_sm.jpg' %}" alt="Crossover" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-016.jpg' %}" data-lightbox="img-rail" data-title="workers">
                    <img src="{%  static 'images/railroad/lodihistory-016_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-017.jpg' %}" data-lightbox="img-rail" data-title="workers">
                    <img src="{%  static 'images/railroad/lodihistory-017_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-018.jpg' %}" data-lightbox="img-rail" data-title="scaffoliding">
                    <img src="{%  static 'images/railroad/lodihistory-018_sm.jpg' %}" alt="scaffolding" class="img-responsive" />
                </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-019.jpg' %}" data-lightbox="img-rail" data-title="River's edge">
                    <img src="{%  static 'images/railroad/lodihistory-019_sm.jpg' %}" alt="Crossover" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-020.jpg' %}" data-lightbox="img-rail" data-title="Temporary bridge">
                    <img src="{%  static 'images/railroad/lodihistory-020_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-021.jpg' %}" data-lightbox="img-rail" data-title="Railroad families">
                    <img src="{%  static 'images/railroad/lodihistory-021_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-022.jpg' %}" data-lightbox="img-rail" data-title="The works">
                    <img src="{%  static 'images/railroad/lodihistory-022_sm.jpg' %}" alt="scaffolding" class="img-responsive" />
                </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-023.jpg' %}" data-lightbox="img-rail" data-title="Stacking block">
                    <img src="{%  static 'images/railroad/lodihistory-023_sm.jpg' %}" alt="Stacking block" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-024.jpg' %}" data-lightbox="img-rail" data-title="Workers in front of scaffold">
                    <img src="{%  static 'images/railroad/lodihistory-024_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-026.jpg' %}" data-lightbox="img-rail" data-title="View">
                    <img src="{%  static 'images/railroad/lodihistory-026_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-027.jpg' %}" data-lightbox="img-rail" data-title="Blocks">
                    <img src="{%  static 'images/railroad/lodihistory-027_sm.jpg' %}" alt="scaffolding" class="img-responsive" />
                </a>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-028.jpg' %}" data-lightbox="img-rail" data-title="Bankers`">
                    <img src="{%  static 'images/railroad/lodihistory-028_sm.jpg' %}" alt="Stacking block" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-029.jpg' %}" data-lightbox="img-rail" data-title="Bridge along Railroad Street">
                    <img src="{%  static 'images/railroad/lodihistory-029_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-030.jpg' %}" data-lightbox="img-rail" data-title="Timbers">
                    <img src="{%  static 'images/railroad/lodihistory-030_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-031.jpg' %}" data-lightbox="img-rail" data-title="Blocks">
                    <img src="{%  static 'images/railroad/lodihistory-031_sm.jpg' %}" alt="scaffolding" class="img-responsive" />
                </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-032.jpg' %}" data-lightbox="img-rail" data-title="Bankers`">
                    <img src="{%  static 'images/railroad/lodihistory-032_sm.jpg' %}" alt="Stacking block" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-033.jpg' %}" data-lightbox="img-rail" data-title="Bridge along Railroad Street">
                    <img src="{%  static 'images/railroad/lodihistory-033_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-034.jpg' %}" data-lightbox="img-rail" data-title="Timbers">
                    <img src="{%  static 'images/railroad/lodihistory-034_sm.jpg' %}" alt="workers" class="img-responsive" />
                </a>
                </div>
                <div class="col-sm-3">
                    <a href="{% static 'images/railroad/lodihistory-035.jpg' %}" data-lightbox="img-rail" data-title="Blocks">
                    <img src="{%  static 'images/railroad/lodihistory-035_sm.jpg' %}" alt="scaffolding" class="img-responsive" />
                </a>
                </div>
            </div>


        </div>

        </div>
    </section>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bower_components/lightbox/js/lightbox.min.js' %}"></script>
{% endblock %}