{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Lodi Harrisville Historical society history
{% endblock %}
{% block addedcss %}

{% endblock %}
{% block content %}
    <section>
    <div class="container">
    <div class="row">
        <h1 class="col-sm-12">Chronology of Harrisville Township & Lodi Villiage</h1>
<div class="col-sm-6">
    <dl>
        <dt>1810</dt><dd>Harrisville Township surveyed; Joseph Harris built first house in Medina County</dd>
        <dt>1811</dt><dd>Feb.: Joseph Harris, his wife, Rachel, and son Albert, and James S. Redfield, a boy of eleven settled in Harris's cabin</dd>
        <dt>1814</dt><dd>First settlers since 1811 came to Harrisville. Harrisville became Township 1, Range 16.</dd>
        <dt>1815</dt><dd>April: First child born in Harrisville</dd>
        <dt>1816</dt><dd>November: First wedding in Harrisville–Levi Holcomb and Laura Marsh</dd>
        <dt>1817</dt><dd>First school built; first township election</dd>
        <dt>1818</dt><dd>Medina Co. formed</dd>
        <dt>1819</dt><dd>Thirty nine votes cast in first state and county election</dd>
        <dt>1820</dt><dd>First dry goods store opened by James S. Redfield</dd>
        <dt>1824</dt><dd>Harris House built</dd>
        <dt>1827</dt><dd>Township divided into school districts</dd>
        <dt>1829</dt><dd>Congregational Church founded</dd>
        <dt>1834</dt><dd>Harrisville Post Office established<br />
            First woolen mill built by James Rickey.</dd>
        <dt>1835</dt><dd>Warren House Hotel built</dd>
        <dt>1846</dt><dd>First Methodist Church founded.<br />
            1846<dd>Harrisville Lodge 137, F and A.M. instituted</dd>
        <dt>1859</dt><dd>First Masonic Temple built. (it burned in 1870)</dd>
        <dt>1863</dt><dd>First National Bank established</dd>
        <dt>1866</dt><dd>Ainsworth Building built</dd>
        <dt>1868</dt><dd>Academy started</dd>
        <dt>1870</dt><dd>Academy completed</dd>
        <dt>1871</dt><dd>Boarding Hall erected and Academy opened</dd>
        <dt>1878</dt><dd>Academy purchased, and Lodi three-year high school started</dd>
        <dt>1880</dt><dd>Wheeling and Lake Erie R.R. built.<br />
            A.B. Taylor built wood turning mill.</dd>
        <dt>1881</dt><dd>First passenger train on W. And L. E.</dd>
        <dt>1883</dt><dd>First graduating class, Lodi High School, five members.</dd>
        <dt>1884</dt><dd>Opera House built. (now City Hardware building)</dd>
        <dt>1886</dt><dd>Lodi Review founded by H.E. Basset<br/>
            Central Park deeded to village by the Harris family</dd>
        <dt>1887</dt><dd>Garden Isle Farms started</dd>
        <dt>1888</dt><dd>Rice Lumber Mill established by Joseph and Clement Rice</dd>
        <dt>1889</dt><dd>First gas well on present hospital grounds</dd>
        <dt>1890</dt><dd>Fire Dept. organized</dd>
        <dt>1891</dt><dd>B. and O. railroad built</dd>
        <dt>1892</dt><dd>Lodi incorporated<br/>
            Rowland Drug Store started by Albert and Charles Rowland</dd>
        </dl>
    </div>
        <div class="col-sm-6">
            <dl>
                <dt>1895</dt><dd>White Rose Creamery started.</dd>
                <dt>1898</dt><dd>Home for Aged Women founded by Mrs. Elvira Ainsworth and Mrs. Clarissa Rounds<br/>
                First telephones (Star Telephone company)</dd>
                <dt>1887</dt><dd>Woodlawn Cemetery Association orgainized</dd>
                <dt>1898</dt><dd>Taylor Inn built<br/>
                Lodi Business Men's Association formed</dd>
                <dt>1900</dt><dd>Mound Lodge 845 organized<br />
                First oil company organized</dd>
                <dt>1902</dt><dd>Harrisville Chapter 137, Order Eastern Star instituded</dd>
                <dt>1904</dt><dd>First elecric plant<br/>
                Rebekah Lodge 596 instituded<br/>
                K.O.T.M. Tent organized</dd>
                <dt>1905</dt><dd>L.T.O.M. Hive organized</dd>
                <dt>1906</dt><dd>B. and O. Railroad built</dd>
                <dt>1908</dt><dd>Masonic Temple built<br/>
                Idol Theater built</dd>
                <dt>1909</dt><dd>South-Western Interurban completed<br/>
                First automobile in Lodi</dd>
                <dt>1911</dt><dd>Centennial Celebration<dd>
                <dt>1912</dt><dd>Present waterworks built<br/>
                Present Rice Lumber Mill built</dd>
                <dt>1913</dt><dd>Lodi Commercial Club organized</dd>
                <dt>1914</dt><dd>School addition</dd>
                <dt>1915</dt><dd>Disposal plant built</dd>
                <dt>1918</dt><dd>Medina and Wooster Streets built</dd>
                <dt>1920</dt><dd>Bank Streeet and the Square paved</dd>
                <dt>1921</dt><dd>American Legion organized</dd>
                <dt>1922</dt><dd>American Legion Auxilliary orgainized<br/>
                Present Methodist Church dedicated</dd>
                <dt>1923</dt><dd>Park deeded to Village by Mr. and Mrs. C.E. Knapp</dd>
                <dt>1926</dt><dd>Rotary Club organized<br/>
                Boy Scouts organized</dd>
                <dt>1931</dt><dd>South-Western Interurban discontinued</dd>
                <dt>1932</dt><dd>Lodi State Bank robbed<br/>
                Harrisville Grange organized</dd>
                <dt>1944</dt><dd>Boots and Saddle Club organized</dd>
                <dt>1949</dt><dd>Lodi Commercial Club became Lodi Chamber of Commerce</dd>
                <dt>1950</dt><dd>Business and Professional Women's Club organized</dd>
                <dt>1951</dt><dd>Mastodon skeleteon discovered on Dr. Mabry farm</dd>
                <dt>1956</dt><dd>Mail delivery established</dd>
                <dt>1957</dt><dd>Garden club organized</dd>
                <dt>1960</dt><dd>Cloverleaf Senior High School completed<br/>
                Lodi Library organized</dd>
            </dl>
        </div>
    </div>
        </div>
    </section>

</div>
{% endblock %}
{% block scripts %}

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>



{% endblock %}