{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Lodi Harrisville Historical society history
{% endblock %}
{% block addedcss %}

{% endblock %}
{% block content %}
    <section>
    <div class="container">
    <div class="row">
        <h1 class="col-sm-12">Historical narrative of Harrisville Township & Lodi Villiage</h1>
<div class="col-sm-8">
    <h4>The very early beginning</h4>
    <p>King Charles 2nd of England granted to the Colony of Connecticut in 1662 a charter right to all lands contained between the 41st and 42nd parallels of north latitude and from Providence Plantations (Rhode Island) on the east, to the Pacific Ocean on the west with the exception of New York and Pennsylvania colonies.</p>

<p>Medina County was formed from a part of this grant February 18, 1812. The first settlers of the county were principally from Connecticut.</p>

<p>The Torringford Company, a subsidiary of the Connecticut Land Company, handled the division of real estate west of the Cuyahoga River. Joseph Harris acted as their sales agent.</p>

<p>Harrisville was the first township in Medina County. Much of our early heritage of good citizenry was due to Judge Harris and his good wife Rachel, after whom the township was named.</p>

<p>In 1810 the township was surveyed into lots of one hundred acres each. The price was established at $2 per acre. Mr. Harris had the privilege of selecting two hundred acres as pioneer settlement, and it was this year (1810) he built his first house. February 14, 1811 he moved his family here from Randolph, Ohio. James Redfield, a lad about eleven years old, came with them.</p>

<p>The life of the settler in this new clearing, miles away from human habitation, was full of hardships and privations. The first days were spent in cutting down trees and making new openings in the woods and laying out roads. With the opening of spring new life sprang up, new work began; the ground the cleared tract was made ready and seeding commenced.</p>

<p>Their nearest neighbors were at Wooster, seventeen miles south on the Killbuck River. The location selected had been the favorite hunting grounds of the Wyandot and Ottawa Indians and many of their wigwams were standing near the spot Harris selected for his residence. Although friendly, the Indians preferred retirement and abandoned their lodges and built new ones a few miles distant.</p>

<p>In the summer of 1811 George and Russel Burr and their families from Massachusetts joined the Harrises. It was under 1814 before the next settlers came to the township. Under the land company’s survey, Harrisville was set apart as Township number one. The families coming to Harrisville in the Spring were Timothy Munson of Vermont and Loammi Holcomb from New York. With their families they settled on the west bank of Black River. Later, came the families of Timothy Burr, Alvin Loomis, Collins Young, Joe Davis, Carolus Tuttle, Isaac Catlin, Nathan Marsh, Elisha Bishop, Perez and Nathaniel Rogers, James Rogers, Chas. Lewis, Davide Birge, Josiah Perkins and William Welch.</p>

<p>In 1817 came Noah Kellogg, Jason Spencer, Noah Holcomb, Thomos Russel, Isaac Rogers, Orange Stoddart, Daniel Delvin, Henry K. Joline, Cyrus and Arvis Chapman, Jonathan Fetts, David Rogers, Cyrus Curtis, George hanna, Doctor William Barnes served as preacher, doctor and miller in the colony.</p>

<p>There were now thirty five families in the settlement. Clearings were made on every side and the settlers were rewarded with crops of grain. Joy also came to the pioneers. One of these was a marriage feast. Levi Holcomb and Miss Laura Marsh were married November, 1816. There being no Justice of Peace in the township at that time, Mr. James Rogers volunteered his services to procure the needed official. He walked to Wadsworth to secure Esquire Warner, who consented to come the next day. Mr. Rogers stayed all night to come with the official the next day, but Mr. Warner was taken seriously ill during the night and he could not fulfill his engagement.</p>

<p>Mr. Rogers went on to Norton to get Esquire Van Heinous, but he was away on a deer hunt. Mr. Rogers heard there was a Justice of Peace in Coventry. He went there, engaged the services and together they arrived at Harrisville the day after the wedding was scheduled but they had it that night. This was the first wedding in Medina County.</p>

<p>In the spring of 1818 nine more families came, among them Lomar Griffin, wife and seven children. He was destined to become one of the most remarkable and most widely known men in Harrisville Township and Medina County, for he lived to be the oldest man in the United States.</p>

<p>The first symptom of political organization came with the appointment of Alvin Loomis as “Ear-Mark” and Estray Recorder. It was a necessity at that time, since there were no fences and cattle ran at large. To distinguish the ownership of the cattle, sheep and hogs, a distinct and separate earmark by every owner of stock was required and this mark was recorded.</p>

<p>The wolves had caused so much trouble the settlers decided to stage a grand wolf hunt. Seven of the surrounding townships joined forces for the purpose of destroying these troublesome beasts. No wolves were captured, but many deer were, and these fully imbrued the settlers for their exertions.</p>

<p>An active part was played by several of the Harrisville, people in anti-slavery movements in the North during the two decades preceding the War of the Rebellion. Timothy Burr who lived in the large brick building now occupied by Mr G. P. Mong, was in accord with the sentiments of the Abolition Party. The Burr house became a famous station on the underground railroad. The fugitive slaves who had escaped their masters in the south were transported during the night to places of safety in the Northern States. Numbers of colored people came to the Burr House, found shelter, protection and food, often as many as ten to fifteen Negroes being sheltered for days at a time.</p>
        </div>
        <div class="col-sm-4 right-sidebar">
                <img src="{%  static 'images/sesqui_photos/harris_house.jpg' %}" class="img-responsive" alt="Harris House"/>
                <p class="pcaption">The Harris House</p>
                <h4>Home of Mr. and Mrs. David Hammer, 119 Harris Street, Lodi, OH</h4>
            <p>Taken from <em>Victorian Homes in our community, 1991</em></p>
            <p>In 1890 Dr. Joseph Harris built a Victorian house in Harrisville, Ohio, a town founded by his grandfatehr and now known as Lodi. The original Harris homestead was built on Indian burial grounds and a main Indian path on what is now the site of the Society National Bank.</p>
            <p>Dr. Harris, a dentist, lived there for many years with his wife and son, until one tragic day when his son was killed in a train accident on his way to Kansas City, Missouri, to meet his fiancé.</p>
            <p>Afer his son's death, an older woman from Chippewa Lake, who was a friend of the Harris family, moved in with them. She lived with them for many years until the day that Dr. Harris became very ill and died, shortly after the turn of the century.They had been planning to change the will in order to leave the house to the old woman. He was waiting for his energy to come back to do it, but his energy never returned. The house had been willed to the Congregational Church, but the old woman did receive all of the furniture and the inside belongings. The Hammars had visited her and had the opportunity to view the original furnishings.</p>
            <p>The street the house is on was later named Harris Street in honor of the Harris family It is located in downtown Lodi, just off the town square.</p>
            <p>Over the next 90 years, the house had three other owners. In 1983, Dave and Pam Hammar paid fifty-eight thousand dollars for the house. They were able to purchase the house for what they felt was a low price because it needed so much work and because the owner's wife had gotten a job in Idaho, and they were in a hurry to sell. As Mrs. Hammar said, "They were divorced shortly thereafter and really hadn't needed to be in such a hurry!" The Hammars had always wanted a Victorian house in a small town. So as Mrs. Hammar said, "We found exactly what we were looking for!"</p>
            <p>Not long after they moved in, some archaeologists came to the house and asked if they could do some research. After digging up the basement, they found skeletal remains. "Since the archaeologists were never heard from again," Mrs, Hammar said, "the identity of the skeletons remains a mysterey to this day."</p>
            <p>The house was constructed in the traditional Victorian architectural style and consists of ten rooms, a living room or parlor, dining room, kitchen, five bedrooms, and two bathrooms, plus a front and back porch.</p>
            </div>
        </div>
    </div>
        </div>
    </section>

</div>
{% endblock %}
{% block scripts %}

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>



{% endblock %}