/* main site web styles */

/* common colors used in site */
/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50v0u0k9Shw69zO7Qp6hBcWG9b8 */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

$bright-tan: #FFE5CE;
$van-dyke: #67492E;
$bold-siena: #592900;

$olive: #67542E;
$siena: #593C00;
$light-olive: #b5c393;

$light-pink: #FFCFCE;
$antique-pink: #C89897;
$blush: #67302E;
$dark-red: #590200;

body {
  font-family: "Sorts Mill Goudy", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 160%;
}

li, p, td, dd, dt {
  font-size: 120%;
}

h4 {
  font-size: 140%;
  font-weight: 700;
  font-family: 'Puritan', sans-serif;
  font-weight: bold;
  color: $dark-red;
}

header {
  background-color: $dark-red;
}

header.navbar-head {
  margin-bottom: 0px;
  background-image: url(../images/train-back.jpg);
  background-repeat: no-repeat;
  min-height: 300px;
}

.site_head {
  margin-top: 150px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  &:hover {
    background-color: $blush;
    color: #fff;
  }
}

.navbar-default .navbar-brand {
  color: #fff;
  border-right: 2px solid $blush;
  &:hover {
    background-color: $blush;
    color: #fff;
  }

}


h1.site_title {
  font-family: 'Puritan', sans-serif;
  color: $dark-red;
}

.navbar-default {
  background-color: $dark-red;
  border: 1px solid $blush;
}

div.right-sidebar {
  background-color: $light-olive;
  padding: 1em 1em;
}

div.slider {
  width: auto;
  max-width: 900px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  min-height: 38px;
  background-color: rgba($siena, 0.85);
  color: #ffefce;
//  z-index: 50;
}

.slick-prev:before, .slick-next:before {
    color: $dark-red;
}

#main-body {
  background-color: #fff;
}

footer {
  background-color: $light-olive;
  padding: 1em;
}

div.gallery {
  background-color: $bright-tan;
}

.center-blocks {
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

dt {
  font-weight: bold;
  font-family: 'Puritan', sans-serif;
  color: $van-dyke;
}

.cutline {
  font-family: 'Puritan', sans-serif;
  margin-top: 1em;
  text-align: center;
}

.pcaption {
  width: 100%;
  padding: 15px;
  min-height: 38px;
  background-color: rgba($siena, 0.85);
  color: #ffefce;
//  z-index: 50;
}

.well img {
  display: block;
  margin: auto;
}
div.pic-rows .row {
  padding: 1em 0;
}


@import 'min_768';
@import 'min_992';
@import 'min_1200';